<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Enhanced</title>
    <link rel="stylesheet" href="~/lib/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <nav class="navbar is-fixed-top main-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" asp-area="" asp-page="/Index">
                Enhanced Samples
            </a>

            <a role="button"
               class="navbar-burger"
               data-bind="css: { 'is-active': isOpen }, click: toggleMenu"
               aria-label="menu" aria-expanded="false"
               >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" data-bind="css: { 'is-active': isOpen }">
            <div class="navbar-start">
                <a class="navbar-item" asp-area="" asp-page="/Index"> Home </a>
                <a class="navbar-item" asp-area="" asp-page="/Posts"> Posts </a>
                <a class="navbar-item" asp-area="" asp-page="/Privacy"> Privacy </a>
            </div>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="footer main-footer">
        <div class="content has-text-centered">
            <p>
                &copy; 2021 - Enhanced - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/knockout.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
