html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 224px;
    padding-bottom: 1em;
}
.main-nav {
    flex: 0 1;
}
.main-footer {
    flex: 0 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.my-post-comments {
    display: flex;
    flex-direction: column
}

.my-post-comments-item {
    margin: 0.5em;
    padding: 0.5em;
}